SECRET_KEY=data-secret-1
ADMIN_SECRET=data-secret-2
UI_SECRET=data-secret-3
MI_SECRET=data-secret-4
DATA_SECRET=data-secret-5
EMAIL_HOST=127.0.0.1
EMAIL_PORT=1025
DEBUG=True
API_DEBUG=True
DATABASE_URL=postgres://postgres@postgres:5432/export-wins-data

#read only
AWS_KEY_CSV_READ_ONLY_ACCESS=aws-read-key
AWS_SECRET_CSV_READ_ONLY_ACCESS=aws-read-secret
AWS_REGION_CSV=aws-region
