boto3==1.5.22
coverage>=4.0,<4.4
codeclimate-test-reporter==0.2.3
dj-database-url==0.4.2
Django==2.0.2
django-countries==5.1.1
django-crispy-forms==1.7.0
django-extensions==1.9.9
django-filter==1.1.0
djangorestframework==3.7.7
djangosaml2==0.15.0
pysaml2==4.4.0
defusedxml==0.5.0
factory-boy==2.10.0
gunicorn==19.7.1
psycopg2==2.7.3.2
python-dateutil==2.6.1
whitenoise==3.3.1
requests==2.18.4
six==1.11.0
django-extended-choices==1.2
openpyxl==2.5.0
URLObject==2.4.3
requests-oauthlib==0.8.0
zipstream==1.1.4

# Tests
Faker==0.8.10
factory-boy==2.10.0
raven==6.5.0
freezegun==0.3.9
jmespath==0.9.3
