boto3==1.5.20
contextlib2==0.5.5
coverage>=4.0,<4.4
codeclimate-test-reporter==0.2.3
cryptography==2.1.1
dj-database-url==0.4.2
Django==2.0.1
django-countries==4.6.1
django-crispy-forms==1.7.0
django-extensions==1.9.9
django-filter==1.0.4
djangorestframework==3.7.7
djangosaml2==0.15.0
pysaml2==4.4.0
defusedxml==0.5.0
factory-boy==2.8.1
gunicorn==19.7.1
Paste==2.0.3
psycopg2==2.7.3.1
python-dateutil==2.6.1
whitenoise==3.3.1
pyOpenSSL==17.2.0
pytz==2017.3
repoze.who==2.3
requests==2.18.4
six==1.11.0
termcolor==1.1.0
django-extended-choices==1.1.1
openpyxl==2.4.10
URLObject==2.4.3
requests-oauthlib==0.8.0
zipstream==1.1.4

# Tests
Faker==0.8.8
factory-boy==2.8.1
raven==6.4.0
freezegun==0.3.9
jmespath==0.9.3
